# WEBUNTIS INTEGRATION CONFIGURATION

# This file is parsed every minute to check for changes.
# There is no need to restart the service after changing this file.
# Keep in mind that a misconfiguration can lead to an outage or crash of the service.

version: "1.2"

# API configuration
api:
  port: 6482
  token_secret: pleasechangeme  # PLEASE CHANGE THIS! Random value can be generated with crypto.
  https: false  # Set to true to increase security when HTTPS is used.
  proxy: false  # Set to true when using a reverse proxy and the X-Forwarded-For header is active

# Secret encryption key
encryption_key: pleasechangemetoo  # PLEASE CHANGE THIS! Random value can be generated with crypto.

# Google OAuth2 configuration
google:
  client_id: pleasechangeme  # Retrieve from Google Cloud Console
  client_secret: pleasechangeme  # Retrieve from Google Cloud Console
  redirect_uri: http://localhost:3000/api/oauth2/google/callback  # Adjust for used API URL

# Refresh timestamp profiles
refresh:
  - name: "default"
    label: "Bodensee-Gymnasium Lindau"
    weekday:
      - "04:00"
      - "05:00"
      - "06:00"
      - "06:30"
      - "07:00"
      - "07:30"
      - "07:50"
      - "08:35"
      - "09:35"
      - "10:20"
      - "11:20"
      - "12:05"
      - "13:40"
      - "14:30"
      - "15:25"
      - "16:10"
      - "17:00"
      - "18:00"
      - "19:00"
      - "20:00"
      - "21:00"
      - "22:00"
      - "23:00"
    weekend:
      - "06:00"
      - "09:00"
      - "12:00"
      - "15:00"
      - "16:00"
      - "17:00"
      - "18:00"
      - "19:00"
      - "20:00"
      - "21:00"
      - "22:00"
      - "23:00"
